
.idea/workspace.xml
__pycache__/vcos_commands.cpython-310.pyc
__pycache__/vcos_data.cpython-310.pyc
libs/__pycache__/vcos_commands.cpython-310.pyc
libs/__pycache__/vcos_data.cpython-310.pyc
openscad/templates/translate.json
openscad/templates/rotate.json
openscad/templates/module.json
openscad/templates/function.json
openscad/templates/for.json
openscad/templates/difference.json
openscad/openscad.exe
openscad/openscad.com
openscad/locale/zh_TW/LC_MESSAGES/openscad.mo
openscad/locale/zh_CN/LC_MESSAGES/openscad.mo
openscad/locale/uk/LC_MESSAGES/openscad.mo
openscad/locale/ru/LC_MESSAGES/openscad.mo
openscad/locale/pl/LC_MESSAGES/openscad.mo
openscad/locale/hy/LC_MESSAGES/openscad.mo
openscad/locale/fr/LC_MESSAGES/openscad.mo
openscad/locale/es/LC_MESSAGES/openscad.mo
openscad/locale/de/LC_MESSAGES/openscad.mo
openscad/locale/cs/LC_MESSAGES/openscad.mo
openscad/libraries/MCAD/utilities.scad
openscad/libraries/MCAD/unregular_shapes.scad
openscad/libraries/MCAD/units.scad
openscad/libraries/MCAD/trochoids.scad
openscad/libraries/MCAD/triangles.scad
openscad/libraries/MCAD/transformations.scad
openscad/libraries/MCAD/TODO
openscad/libraries/MCAD/test_mcad.py
openscad/libraries/MCAD/test_docs.py
openscad/libraries/MCAD/teardrop.scad
openscad/libraries/MCAD/stepper.scad
openscad/libraries/MCAD/shapes.scad
openscad/libraries/MCAD/servos.scad
openscad/libraries/MCAD/screw.scad
openscad/libraries/MCAD/regular_shapes.scad
openscad/libraries/MCAD/README.markdown
openscad/libraries/MCAD/polyholes.scad
openscad/libraries/MCAD/openscad_utils.py
openscad/libraries/MCAD/openscad_testing.py
openscad/libraries/MCAD/nuts_and_bolts.scad
openscad/libraries/MCAD/multiply.scad
openscad/libraries/MCAD/motors.scad
openscad/libraries/MCAD/metric_fastners.scad
openscad/libraries/MCAD/math.scad
openscad/libraries/MCAD/materials.scad
openscad/libraries/MCAD/libtriangles.scad
openscad/libraries/MCAD/lgpl-2.1.txt
openscad/libraries/MCAD/lego_compatibility.scad
openscad/libraries/MCAD/layouts.scad
openscad/libraries/MCAD/involute_gears.scad
openscad/libraries/MCAD/hardware.scad
openscad/libraries/MCAD/gridbeam.scad
openscad/libraries/MCAD/gears.scad
openscad/libraries/MCAD/fonts.scad
openscad/libraries/MCAD/curves.scad
openscad/libraries/MCAD/constants.scad
openscad/libraries/MCAD/boxes.scad
openscad/libraries/MCAD/bitmap/README
openscad/libraries/MCAD/bitmap/name_tag.scad
openscad/libraries/MCAD/bitmap/letter_necklace.scad
openscad/libraries/MCAD/bitmap/height_map.scad
openscad/libraries/MCAD/bitmap/bitmap.scad
openscad/libraries/MCAD/bitmap/alphabet_block.scad
openscad/libraries/MCAD/bearing.scad
openscad/libraries/MCAD/__init__.py
openscad/libraries/MCAD/3d_triangle.scad
openscad/libraries/MCAD/2Dshapes.scad
openscad/fonts/Liberation-2.00.1/ttf/LiberationSerif-Regular.ttf
openscad/fonts/Liberation-2.00.1/ttf/LiberationSerif-Italic.ttf
openscad/fonts/Liberation-2.00.1/ttf/LiberationSerif-BoldItalic.ttf
openscad/fonts/Liberation-2.00.1/ttf/LiberationSerif-Bold.ttf
openscad/fonts/Liberation-2.00.1/ttf/LiberationSans-Regular.ttf
openscad/fonts/Liberation-2.00.1/ttf/LiberationSans-Italic.ttf
openscad/fonts/Liberation-2.00.1/ttf/LiberationSans-BoldItalic.ttf
openscad/fonts/Liberation-2.00.1/ttf/LiberationSans-Bold.ttf
openscad/fonts/Liberation-2.00.1/ttf/LiberationMono-Regular.ttf
openscad/fonts/Liberation-2.00.1/ttf/LiberationMono-Italic.ttf
openscad/fonts/Liberation-2.00.1/ttf/LiberationMono-BoldItalic.ttf
openscad/fonts/Liberation-2.00.1/ttf/LiberationMono-Bold.ttf
openscad/fonts/Liberation-2.00.1/TODO
openscad/fonts/Liberation-2.00.1/README
openscad/fonts/Liberation-2.00.1/LICENSE
openscad/fonts/Liberation-2.00.1/ChangeLog
openscad/fonts/Liberation-2.00.1/AUTHORS
openscad/fonts/fonts.conf
openscad/fonts/conf.d/README
openscad/fonts/conf.d/90-synthetic.conf
openscad/fonts/conf.d/80-delicious.conf
openscad/fonts/conf.d/69-unifont.conf
openscad/fonts/conf.d/65-nonlatin.conf
openscad/fonts/conf.d/65-fonts-persian.conf
openscad/fonts/conf.d/60-latin.conf
openscad/fonts/conf.d/60-generic.conf
openscad/fonts/conf.d/51-local.conf
openscad/fonts/conf.d/50-user.conf
openscad/fonts/conf.d/49-sansserif.conf
openscad/fonts/conf.d/45-latin.conf
openscad/fonts/conf.d/45-generic.conf
openscad/fonts/conf.d/40-nonlatin.conf
openscad/fonts/conf.d/30-metric-aliases.conf
openscad/fonts/conf.d/20-unhint-small-vera.conf
openscad/fonts/conf.d/10-scale-bitmap-fonts.conf
openscad/fonts/conf.d/10-hinting-slight.conf
openscad/fonts/10-liberation.conf
openscad/examples/Parametric/sign.scad
openscad/examples/Parametric/sign.json
openscad/examples/Parametric/candleStand.scad
openscad/examples/Parametric/candleStand.json
openscad/examples/Old/example024.scad
openscad/examples/Old/example023.scad
openscad/examples/Old/example022.scad
openscad/examples/Old/example021.scad
openscad/examples/Old/example020.scad
openscad/examples/Old/example019.scad
openscad/examples/Old/example018.scad
openscad/examples/Old/example017.scad
openscad/examples/Old/example016.stl
openscad/examples/Old/example016.scad
openscad/examples/Old/example015.scad
openscad/examples/Old/example014.scad
openscad/examples/Old/example013.scad
openscad/examples/Old/example013.dxf
openscad/examples/Old/example012.stl
openscad/examples/Old/example012.scad
openscad/examples/Old/example011.scad
openscad/examples/Old/example010.scad
openscad/examples/Old/example010.dat
openscad/examples/Old/example009.scad
openscad/examples/Old/example009.dxf
openscad/examples/Old/example008.scad
openscad/examples/Old/example008.dxf
openscad/examples/Old/example007.scad
openscad/examples/Old/example007.dxf
openscad/examples/Old/example006.scad
openscad/examples/Old/example005.scad
openscad/examples/Old/example004.scad
openscad/examples/Old/example003.scad
openscad/examples/Old/example002.scad
openscad/examples/Old/example001.scad
openscad/examples/Functions/recursion.scad
openscad/examples/Functions/polygon_areas.scad
openscad/examples/Functions/list_comprehensions.scad
openscad/examples/Functions/functions.scad
openscad/examples/Functions/echo.scad
openscad/examples/examples.json
openscad/examples/COPYING-CC0.txt
openscad/examples/Basics/text_on_cube.scad
openscad/examples/Basics/rotate_extrude.scad
openscad/examples/Basics/projection.stl
openscad/examples/Basics/projection.scad
openscad/examples/Basics/logo_and_text.scad
openscad/examples/Basics/logo.scad
openscad/examples/Basics/linear_extrude.scad
openscad/examples/Basics/LetterBlock.scad
openscad/examples/Basics/CSG.scad
openscad/examples/Basics/CSG-modules.scad
openscad/examples/Advanced/surface_image.scad
openscad/examples/Advanced/surface_image.png
openscad/examples/Advanced/offset.scad
openscad/examples/Advanced/module_recursion.scad
openscad/examples/Advanced/GEB.scad
openscad/examples/Advanced/children_indexed.scad
openscad/examples/Advanced/children.scad
openscad/examples/Advanced/assert.scad
openscad/examples/Advanced/animation.scad
openscad/color-schemes/render/tomorrow.json
openscad/color-schemes/render/tomorrow-night.json
openscad/color-schemes/render/sunset.json
openscad/color-schemes/render/starnight.json
openscad/color-schemes/render/solarized.json
openscad/color-schemes/render/nature.json
openscad/color-schemes/render/monotone.json
openscad/color-schemes/render/metallic.json
openscad/color-schemes/render/deepocean.json
openscad/color-schemes/render/beforedawn.json
openscad/color-schemes/readme.txt
openscad/color-schemes/editor/visualstudio.json
openscad/color-schemes/editor/tomorrow.json
openscad/color-schemes/editor/tomorrow-night.json
openscad/color-schemes/editor/solarized-light.json
openscad/color-schemes/editor/solarized-dark.json
openscad/color-schemes/editor/monokai.json
openscad/color-schemes/editor/light-background.json
openscad/color-schemes/editor/dark-background.json
projects/
.idea/misc.xml
